  <div class="column" >
  <h4 class="ui dividing header">Paquetes de asesorias</h4>
    <div>
      <form ng-submit="submitForm()" class="segment">
          <div class="ui inverted dimmer" ng-class="loader ? 'active' : '' ">
            <div class="ui text loader">Enviando datos...porfavor espere</div>
          </div> 
          <div class="ui inverted form">
            <div class="ui info message">
              <div class="header">We had some issues</div>
            </div>
            <div class="ui fluid">
              <div class="field">

                <h2 class="header">{{formData.valor | currency:"COP$" : 0}}</h2>
              </div>
              <div class="three fields">
                <div class="field">
                  <label class="label">Asesoria</label>
                  <input type="text" name="txtAsesoria" placeholder="Asesoria" ng-model="formData.asesoria">
                </div>
                <div class="field">
                  <label class="label">Referencia al servicio</label>
                  <input type="text" name="txtReferencia" placeholder="Referencia" ng-model="formData.referencia">
                </div>
                <div class="field">
                  <label class="label">Estado de asesoria</label>
                  <mydropdownselect coltext="estado" placeholder="Estado Asesoria" colkey="_id" selected="formData.estado" async="estadoAsesorias" ></mydropdownselect>
                </div>
              </div>
              <div class="field">
                <label class="label">Descripcion</label>
                <textarea type="text" name="txtDescripcion" placeholder="Descripcion de la asesoria" ng-model="formData.descripcion"></textarea>
              </div>
              <div class="field">
                <div class="ui green label" ng-repeat="derecho in formData.derechosStack">
                  {{derecho.text}}
                  <i class="delete icon" ng-click="popDerechoOnStack(derecho._id)"></i>
                </div>
              </div>
              <div class="two fields">
                  <div class="field">
                    <mydropdownselect coltext="derecho" placeholder="Derechos" colkey="_id" selected="formData.derecho" async="derechos" ></mydropdownselect>
                  </div>
                  <div class="field">
                    <div class="fluid ui button darkred" ng-click="pushDerechoOnStack(formData.derecho)" ><i class="add icon"></i>Agregar derecho</div>
                  </div>
              </div>
              <div class="field">
                <label class="label">Valor de la asesoria</label>
                <div class="ui massive left icon input">
                  <input type="text" placeholder="digite el valor de la asesoria." ng-model="formData.valor">
                  <i class="currency icon"></i>
                </div>
              </div>
              <div class="three fields">
                <div class="field"><button class="ui darkred submit button fluid" ng-class="CmdSave ? '' : 'disabled' "><i class="send outline icon"></i>Crear</button></div>
                <div class="field">
                  <div class="ui button fluid" ng-class="CmdUpdate ? 'positive' : 'disabled' " ng-click="update()">
                    <i class="refresh icon"></i>
                    Actualizar
                  </div>
                </div>
                <div class="field">
                <div class="ui blue button fluid" ng-click="new()">
                  <i class="add circle icon"></i>
                  Nuevo
                </div>
                </div>
              </div>
            </div>
          </div>
      </form>
    </div>
</div>
<div class="column">
<div class="ui transparent input fluid">
  <input type="text" ng-model="txtSearch.$" placeholder="Escriba un termino de busqueda...">
</div>
  <table class="ui very basic table" >
    <thead>
      <tr>
        <th><i class="anchor icon"></i>Asesoria</th>
        <th><i class="legal icon"></i>Derechos</th>
        <th><i class="co flag"></i>Valor</th>
        <th><i class="cube icon"></i>Estado</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="asesoria in asesorias | filter:txtSearch"  class="animated fadeInLeft" ng-class="{selected: asesoria._id === idSelectedRow}" ng-click="editRow(asesoria)" >
        <td>{{asesoria.asesoria}}</td>
        <td>
          <div ng-click="removeRow(asesoria._id)" class="ui green icon button" style="padding:0.4em;">
              <i class="database icon"></i>
          </div>
        </td>
        <td>{{asesoria.valor | currency:"$" : 0}}</td>
        <td>{{asesoria.estado['descripcion']}}</td>
        <td>
          <div ng-click="removeRow(asesoria._id)" class="ui darkred icon button" style="padding:0.4em;">
              <i class="trash icon"></i>
          </div>
          <div ng-click="editRow(asesoria)" class="ui teal icon button" style="padding:0.4em;">
              <i class="edit icon"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<myconfirm show="showModal" title="Eliminar Item" message="¿ desea eliminar esta asesoria ?"></myconfirm>
