<!DOCTYPE html>
<html lang="es" >
<% include partials/head.ejs %>
<body class="container" ng-app="app">
<% include partials/header.ejs %>
<% if(user.role.Administrator) { %>
	<!--desktop menu-->
	<div class="ui one column stackable grid computer only">
	<div class="mnuMain ui column" style="padding-top:0px;" ng-controller="navigationController">
		<div class="ui inverted menu darkred">
			  <div class="ui dropdown item"><i class="legal icon"></i>
			      Derechos 
			      <div class="menu">
			      	<a href="#/nuevo"  class="item"><i class="add icon"></i>Nuevo</a>
			        <a href="#/estados" class="item"><i class="info icon"></i>Estados</a>
			        <a href="#/pagos"  class="item"><i class="payment icon"></i>Pagos</a>
			      </div>
				</div>
			  <div class="ui dropdown item"><i class="suitcase icon"></i>
			      Asesorias 
			      <div class="menu">
			      	<a href="#/asesoria"  class="item"><i class="add icon"></i>Crear</a>
			        <a href="#/estadoAsesorias" class="item"><i class="info icon"></i>Estados</a>
			      </div>
				</div>
			  <div class="ui dropdown item"><i class="users icon"></i>
			      Abogados 
			      <div class="menu">
			      	<a href="#/abogado" class="item"><i class="add icon"></i>Nuevo</a>
			      	<a href="#/tipoCliente" class="item"><i class="cubes icon"></i>Tipos</a>
			        <a href="#/estadoCliente" class="item"><i class="info icon"></i>Estados</a>
			      </div>
				</div>
			  <a class="item right darkblue">
			    <i class="icon setting"></i> Mi Perfil
			  </a>
		</div>
	</div>
	</div>
	
	<!--tablet menu-->
	<div class="ui one column stackable grid tablet only">
	<div class="mnuMain ui column" ng-controller="navigationController">
		<div class="ui inverted menu darkred">
			  <div class="ui dropdown item"><i class="legal icon"></i>
			      Derechos 
			      <div class="menu">
			      	<a href="#/nuevo"  class="item"><i class="add icon"></i>Nuevo</a>
			        <a href="#/estados" class="item"><i class="info icon"></i>Estados</a>
			        <a href="#/pagos"  class="item"><i class="payment icon"></i>Pagos</a>
			      </div>
				</div>
			  <div class="ui dropdown item"><i class="suitcase icon"></i>
			      Asesorias 
			      <div class="menu">
			      	<a href="#/asesoria"  class="item"><i class="add icon"></i>Crear</a>
			        <a href="#/estados" class="item"><i class="info icon"></i>Estados</a>
			      </div>
				</div>
			  <div class="ui dropdown item"><i class="users icon"></i>
			      Abogados 
			      <div class="menu">
			      	<a href="#/usuario" class="item"><i class="add icon"></i>Nuevo</a>
			      	<a href="#/tipos" class="item"><i class="cubes icon"></i>Tipos</a>
			        <a href="#/pais" class="item"><i class="info icon"></i>Estados</a>
			      </div>
				</div>
			  <a class="item right darkblue">
			    <i class="icon setting"></i>
			  </a>
		</div>
	</div>
	</div>
	
	<!--mobile menu-->
	<div class="ui one column stackable grid mobile only">
	<div class="mnuMain ui column" ng-controller="navigationController">
		<div class="ui inverted menu darkred">
			  <div class="ui dropdown item"><i class="legal icon"></i>
			      Derechos 
			      <div class="menu">
			      	<a href="#/nuevo"  class="item"><i class="add icon"></i>Nuevo</a>
			        <a href="#/estados" class="item"><i class="info icon"></i>Estados</a>
			        <a href="#/pagos"  class="item"><i class="payment icon"></i>Pagos</a>
			      </div>
				</div>
			  <div class="ui dropdown item"><i class="suitcase icon"></i>
			      Asesorias 
			      <div class="menu">
			      	<a href="#/asesoria"  class="item"><i class="add icon"></i>Crear</a>
			        <a href="#/estados" class="item"><i class="info icon"></i>Estados</a>
			      </div>
				</div>
			  <div class="ui dropdown item"><i class="users icon"></i>
			      Abogados 
			      <div class="menu">
			      	<a href="#/usuario" class="item"><i class="add icon"></i>Nuevo</a>
			      	<a href="#/tipos" class="item"><i class="cubes icon"></i>Tipos</a>
			        <a href="#/pais" class="item"><i class="info icon"></i>Estados</a>
			      </div>
				</div>
			  <a class="item right darkblue">
			    <i class="icon setting"></i>
			  </a>
		</div>
	</div>
	</div>
<% }else if(user.role.User) { %>
	<!--desktop menu-->
	<div class="ui one column stackable grid computer only">
	<div class="mnuMain ui column" ng-controller="navigationController">
		<div class="ui inverted menu">
			  <div class="ui dropdown item"><i class="question icon"></i>
			      Mis Asesorias 
			      <div class="menu">
			      	<a href="#/nuevo"  class="item"><i class="announcement  icon"></i>Preguntar.</a>
			      	<a href="#/nuevo"  class="item"><i class="unhide icon"></i>Ver mis preguntas.</a>
			      </div>
				</div>
			  <a class="item right darkblue">
			    <i class="icon setting"></i> Mi Perfil
			  </a>
		</div>
	</div>
	</div>

	<!--tablet menu-->
	<div class="ui one column stackable grid tablet only">
	<div class="mnuMain ui column" ng-controller="navigationController">
		<div class="ui inverted menu">
			  <div class="ui dropdown item"><i class="legal icon"></i>
			      Derechos 
			      <div class="menu">
			      	<a href="#/nuevo"  class="item"><i class="add icon"></i>Nuevo</a>
			        <a href="#/estados" class="item"><i class="info icon"></i>Estados</a>
			      </div>
				</div>
			  <div class="ui dropdown item"><i class="users icon"></i>
			      Abogados 
			      <div class="menu">
			      	<a href="#/usuario" class="item"><i class="add icon"></i>Nuevo</a>
			      	<a href="#/tipos" class="item"><i class="cubes icon"></i>Tipos</a>
			        <a href="#/pais" class="item"><i class="info icon"></i>Estados</a>
			      </div>
				</div>
			  <a class="item right darkblue">
			    <i class="icon setting"></i>
			  </a>
		</div>
	</div>
	</div>
	
	<!--mobile menu-->
	<div class="ui one column stackable grid mobile only">
	<div class="mnuMain ui column" ng-controller="navigationController">
		<div class="ui inverted menu">
			  <div class="ui dropdown item"><i class="legal icon"></i>
			      Derechos 
			      <div class="menu">
			      	<a href="#/nuevo"  class="item"><i class="add icon"></i>Nuevo</a>
			        <a href="#/estados" class="item"><i class="info icon"></i>Estados</a>
			        <a href="#/pagos"  class="item"><i class="payment icon"></i>Pagos</a>
			      </div>
				</div>
			  <div class="ui dropdown item"><i class="users icon"></i>
			      Abogados 
			      <div class="menu">
			      	<a href="#/usuario" class="item"><i class="add icon"></i>Nuevo</a>
			      	<a href="#/tipos" class="item"><i class="cubes icon"></i>Tipos</a>
			        <a href="#/pais" class="item"><i class="info icon"></i>Estados</a>
			      </div>
				</div>
			  <a class="item right darkblue">
			    <i class="icon setting"></i>
			  </a>
		</div>
	</div>
	</div>
	<div class="ui two column stackable grid">
		<div class="column">
			<div class="ui fluid darkblue labeled icon top right pointing dropdown button">
			  <i class="suitcase icon"></i>
			  <span class="text">Elija un Servicio :</span>
			  <div class="menu">
			    <div class="item"><i class="edit icon"></i>Derecho Policivo.</div>
			    <div class="item"><i class="delete icon"></i>Derecho Penal</div>
			    <div class="item"><i class="hide icon"></i>Derecho Administrativo</div>
			    <div class="item"><i class="hide icon"></i>Derecho Constitucional.</div>
			    <div class="item"><i class="hide icon"></i>Derecho De Familia.</div>
			    <div class="item"><i class="hide icon"></i>Derecho De Urbanistico.</div>
			    <div class="item"><i class="hide icon"></i>Derecho De Penal.</div>
			  </div>
			</div>
		</div>
		<div class="column">
			<div class="ui fluid darkred labeled icon top right pointing dropdown button">
			  <i class="male icon"></i>
			  <span class="text">Elija un Abogado :</span>
			  <div class="menu">
			    <div class="item"><i class="male icon"></i>Andrew Castro.</div>
			  </div>
			</div>	
		</div>
	</div>
	<div class="ui one column stackable grid">
		<div class="column">
			<div class="ui form" style="display: block;">
	      <div class="field">
	        <textarea placeholder="explique su caso..."></textarea>
	      </div>
			</div>
		</div>
	</div>
	
	<div class="ui one column stackable grid">
		<div class="column">
			<div class="ui tiny icon buttons">
			  <div class="ui darkred button"><i class="file text outline icon"></i></div>
			  <div class="ui darkred button"><i class="video icon"></i></div>
			  <div class="ui darkred button"><i class="photo icon"></i></div>
			</div>
		</div>
	</div>

	<div class="ui one column stackable grid">
		<div class="column">
			<div class="fluid ui button"><i class="ui send outline icon"></i>Realizar Consulta</div>
		</div>
	</div>
<% } %>
<div class="ui two column stackable grid" ng-view style="padding:10px;">
</div>
<footer>
  <% include partials/footer.ejs %>
</footer>
</body>
</html>