<!DOCTYPE html>
<html lang="es">
<head>
	<% include partials/head.ejs %>
</head>
<body>
<header class="ui one column grid">
	<% include partials/header.ejs %>
</header>
<div class="presentation ui one column stackable grid">
	<div class="ui column stackable grid">
		<div class="ui stackable center aligned page grid">
		  <div class="fourteen wide column">
		    <h1 class="ui inverted icon header">
		      <img src="assets/images/pen.png" class="icon image">
		      Asesorias Legales de la forma facil.
		    </h1>
		    <p style="color:rgb(216, 216, 216);">Semantic's conventions are based around <a target="_blank" class="darkred"><b>common usage</b></a> and not prescription. Syntax borrows useful principles from natural language like plurality, tense, and word order so your code explains itself.</p>
		    <!-- Recursion Omitted (Turtles all the way down) !-->
			<a href="/auth/facebook" class="ui facebook button">
			  <i class="facebook icon"></i>
			  Facebook
			</a>
			<a href="/auth/twitter" class="ui twitter button">
			  <i class="twitter icon"></i>
			  Twitter
			</a>
		  </div>
		</div>
	</div>
</div>
<% include partials/footer.ejs %>
</body>
</html>


