
  <div class="column">
    <div>
      <form ng-submit="submitForm()" class="segment">
          <div class="ui inverted dimmer" ng-class="loader ? 'active' : '' ">
            <div class="ui text loader">porfavor espere...</div>
          </div>
          <p></p>
          <div class="ui inverted form">
            <div class="ui info message">
              <div class="header">We had some issues</div>
            </div>
            <div class="four ui fluid">
              <div class="field">
                <label class="label">Estado</label>
                <input type="text" name="txtEstado" placeholder="Estado" ng-model="formData.estado" style="color:{{formData.tag}}">
              </div>
              <div class="field">
                <a class="ui mini tag label" ng-click="tagMe('asdfdsfd')" >New</a>
                <a class="ui mini red tag label" ng-click="tagMe('red')">Upcoming</a>
                <a class="ui mini teal tag label" ng-click="tagMe('teal')">Featured</a>
                <a class="ui mini purple tag label" ng-click="tagMe('purple')">Featured</a>
                <a class="ui mini green tag label" ng-click="tagMe('green')">Featured</a>
                <a class="ui mini black tag label" ng-click="tagMe('black')">black</a>
                <a class="ui mini yellow tag label" ng-click="tagMe('yellow')">black</a>
              </div>
              <div class="field">
                <label class="label">Descripcion</label>
                <textarea type="text" name="txtDescripcion" placeholder="Descripcion" ng-model="formData.descripcion"></textarea>
              </div>
              <div class="field">
                <button class="ui darkred submit button" ng-class="CmdSave ? '' : 'disabled' "><i class="send outline icon"></i>Crear</button>
                <div class="ui button" ng-class="CmdUpdate ? 'positive' : 'disabled' " ng-click="update()">
                  <i class="refresh icon"></i>
                  Actualizar
                </div>
              </div>
            </div>
          </div>
      </form>
    </div>
</div>
<div class="column">
<div class="ui transparent input fluid">
  <input type="text" ng-model="txtSearch.$" placeholder="Escriba un termino de busqueda...">
</div>
  <table class="ui very basic table" style="table-layout:fixed">
    <thead>
      <tr>
        <th>Estado</th>
        <th>Descripción</th>
        <th>Tag</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="estado in estadosCollection | filter:txtSearch" ng-class="{selected: estado._id === idSelectedRow}" >
        <td>{{estado.estado}}</td>
        <td style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;" title="{{estado.descripcion}}">{{estado.descripcion}}</td>
        <td>
          <div class="ui {{estado.tag}} empty circular label"></div>
        </td>
        <td>
          <div ng-click="removeRow(estado._id)" class="ui darkred icon button" style="padding:0.4em;">
              <i class="trash icon"></i>
          </div>
          <div ng-click="editRow(estado)" class="ui teal icon button" style="padding:0.4em;">
              <i class="edit icon"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
